SITE_URL=http://localhost:3000
JOURNAL_TITLE=Universaljournal

DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
